<h1>Your Current Potlucks</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><strong>Name</strong></th>
                        <th><strong>Date</strong></th>
                        <th><strong>Description</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each potlucks}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{time}}</td>
                        <td>{{description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" id="cancel" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#cancel").on("click", function () {
            window.location.href = '/';
            return false;
        });
    });
</script>