<div class="row">
    <div class="col-md-2">
        <img src="https://i.imgur.com/slj64Fx.png">
    </div>
    <div class="col-md-10"></div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="create-form">

                <div class="form-group">
                    <label for="name">Event Name:</label>
                    <span><input type="text" id="name" name="eventName"></span>
                </div>

                <div class="form-group">
                    <label for="date">Event Date:</label>
                    <span><input type="text" id="date" name="evenDate"></span>
                </div>

                <div class="form-group">
                    <label for="descr">Description:</label>
                    <textarea id="descr" ate="descr" rows="8" cols="40"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary btn-lg" id="newPot">create</button>
                    </div>
                    <div class="col-md-10"></div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    //jQuery goes here
    $(document).ready(function () {
        $("#newPot").on("click", function () {
            $.ajax({
                method: "POST",
                url: "/api/potlucks",
                data: {
                    name: $("span[name=eventName]")
                        .val()
                        .trim(),
                    admin: ,
                    time: ,
                    url: ,
                    UserId:
                }
            })
            window.location.href = '/potlist';
            return false;
        });
    });

</script>