<div class="row">
    <div class="col-md-2">
        <img src="https://via.placeholder.com/150">
    </div>
    <div class="col-md-10"></div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="create-form">

                <div class="form-group">
                    <label for="name">Event Name:</label>
                    <span><input type="text" id="name" name="eventName"></span>
                </div>

                <div class="form-group">
                    <label for="date">Event Date:</label>
                    <span><input type="text" id="date" name="evenDate"></span>
                </div>

                <div class="form-group">
                    <label for="descr">Description:</label>
                    <textarea id="descr" ate="descr" rows="8" cols="40"></textarea>
                </div>

                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</div>