<div class="row">
    <div class="col-md-2">
        <img src="https://i.imgur.com/slj64Fx.png">
    </div>
    <div class="col-md-10"></div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="create-form">

                <div class="form-group">
                    <label for="name">Event Name:</label>
                    <span><input type="text" id="name" name="eventName"></span>
                </div>

                <div class="form-group">
                    <label for="date">Event Date:</label>
                    <span><input type="text" id="date" name="evenDate"></span>
                </div>

                <div class="form-group">
                    <label for="descr">Description:</label>
                    <textarea id="descr" ate="descr" rows="8" cols="40"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary btn-lg" id="createbtn">create</button>
                    </div>
                    <div class="col-md-10"></div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    //jQuery goes here
    $(document).ready(function () {
        $("#createbtn").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "/api/potlucks",
                data: {
                    name: $("#name")
                        .val()
                        .trim(),
                    admin: $("#descr")
                        .val()
                        .trim(),
                    time: $("#date")
                        .val()
                        .trim()
                }
            })
                .then(function (data) {
                    console.log(data);
                    // window.location.replace(data);
                    window.location.href = "/potlist";
                })
                .catch(function (err) {
                    console.log(err);
                    alert(err.responseText);
                });
        });
        {{!-- $("#createbtn").on("click", function () {
            window.location.href = '/potlist';
            return false;
        }); --}}
    });
</script>