<div class="row">
    <div class="col-md-2">
        <img src="https://i.imgur.com/slj64Fx.png">
    </div>
    <div class="col-md-10"></div>
</div>

<h1>Add new item to your Potluck</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="create-form">

                <div class="form-group">
                    <label for="person">Your name:</label>
                    <span><input type="text" id="person" name="guestName"></span>
                </div>

                <div class="form-group">
                    <label for="item">Your Item:</label>
                    <span><input type="text" id="item" name="evenItem"></span>
                </div>

                <select name="category">
                    <option value="beverage">Beverage</option>
                    <option value="desert">Cutlery</option>
                    <option value="appetizer">Appetizer</option>
                    <option value="entree">Entree</option>
                    <option value="desert">Vegetarian</option>
                    <option value="desert">Dessert</option>
                </select>

                <button type="button" class="btn btn-primary btn-lg" id="cancelItem">Cancel</button>
                <button type="button" class="btn btn-primary btn-lg" id="addItem">Add</button>
            </form>
        </div>
    </div>
</div>
<div style="display:none" id="potURL" data-url={{potluckURL}} data-id={{potluckID}}></div>

<script type="text/javascript">
    //jQuery goes here
    $(document).ready(function () {
        let potURL = $("#potURL").data("url");
        let potID = $("#potURL").data("id");
        $("#cancelItem").on("click", function () {
            window.location.href = '/potlist/' + potURL;
            return false;
        });

        $("#addItem").on("click", function (event) {
            event.preventDefault();
            $.ajax({
                method: "POST",
                url: "/api/potluck-items",
                data: {
                    item: $("#item")
                        .val()
                        .trim(),
                    category: $("select[name=category]")
                        .val(),
                    person: $("#person")
                        .val()
                        .trim(),
                    PotluckId: potID
                }
            }).then(function (data) {
                window.location.href = '/potlist/' + potURL;
            }).catch(function (err) {
                console.log(err);
                alert(err.responseText);
            });
        });
    });

</script>