<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mrs. Potluck</title>
</head>

<body>
    <div class="potluckList">
        <div class="card-header">
            Potluck List
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th><strong>Person</strong></th>
                        <th><strong>Item</strong></th>
                        <th><strong>Category</strong></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>

</html>