body {
  margin: 0%;
}
.list-group-item {
  line-height: 2.5;
}
.logo {
  position: absolute;
  margin: auto;
  top: 20%;
  left: 30%;
  right: 10%;
}

.btn-lg{
  background: green;
  border: none;
  position: absolute;
  left: 70%;
  top: 92%;
  margin-left: -50px;
  margin-bottom: 0%;
}

.btn-lg:hover {
  background: #B0E547;
  color: green;
  left: 70%;
  top: 92%;
  margin-left: -50px;
}

.jumbotron {
  background-image: url("https://www.solidbackgrounds.com/images/2560x1440/2560x1440-royal-yellow-solid-color-background.jpg");
  padding: 80%;
   
}
